/* 通用样式 */
body {
    font-family: 'Microsoft JhengHei', Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px; /* 調整頂部距離 */
}


.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h1 {
    margin-bottom: 30px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #555;
}

.input-group input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #4682b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #5a9bd6;
}

/* 其他页面样式保持不变 */

/* 游戏页面样式 */
.title {
    text-align: center;
    padding: 10px;
    background-color: #4682b4;
    color: white;
}


.game-container {
    display: flex;
    justify-content: space-between; /* 左右分佈 */
    align-items: flex-start;
    margin: 20px;
}


.sidebar-left {
    width: 200px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-left h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.sidebar-left p {
    font-size: 24px;
    color: #555;
    margin: 5px 0;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

#gameCanvas {
    border: 2px solid #000;
}

.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.sidebar h2 {
    text-align: center;
}

#leaderboard {
    list-style-type: none;
    padding: 0;
}

#leaderboard li {
    background-color: #fafafa;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

/* 顯示分數的樣式 */
.score-display {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;  /* 與畫布的距離 */
}

