<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <title>貪吃蛇遊戲</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="title">
        <h1>貪吃蛇遊戲</h1>
    </div>
    <div class="game-container">
        <!-- 左側遊戲說明欄 -->
        <div class="sidebar-left">
            <h2>遊戲說明</h2>
            <p>1. 使用方向鍵操作蛇的移動。</p>
            <p>2. 吃紅色方塊可增加分數並使蛇變長。</p>
            <p>3. 吃紅色方塊機率會生成1-3顆特殊果實，吃特殊顏色的方塊會觸發特殊效果，特殊果實會在10秒後消失：</p>
            <ul>
                <li><span style="color: green;">綠色方塊</span>：加速，持續5秒。</li>
                <li><span style="color: blue;">藍色方塊</span>：減速，持續5秒。</li>
                <li><span style="color: gold;">金色方塊</span>：10秒內獲得雙倍分數。</li>
                <li><span style="color: purple;">紫色方塊</span>：毒藥，遊戲結束。</li>
            </ul>
            <p>4. 避免碰到牆壁或自己的身體，否則遊戲結束。</p>
            <p>5. 挑戰高分，享受遊戲樂趣！</p>
        </div>

        <!-- 中間遊戲畫布 -->
        <div class="main">
            <canvas id="gameCanvas" width="720" height="720"></canvas>
            <div id="scoreDisplay" class="score-display">分數: 0</div>
        </div>

        <!-- 右側排行榜 -->
        <div class="sidebar">
            <h2>排行榜</h2>
            <ul id="leaderboard"></ul>
        </div>
    </div>
    <script>
        var playerName = "{{ player_name }}";
    </script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>
